// sidebar
$menuText:#000000a6;
$menuActiveText:#000000a6;
$subMenuActiveText:#000000a6; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#ffffff;

$subMenuBg:#ffffff;
$subMenuHover:#ffffff;
$menuActiveBg:#e7f1f0;

$sideBarWidth: 210px;


// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  menuActiveBg:$menuActiveBg;
  sideBarWidth: $sideBarWidth;
}
